<body>


    <div class="row py-5 px-5" id="clients">
        <div class="container text-center">
            <div class="title-container">
                <h3>NOSOTROS</h3>
                <div class="underline"></div>
            </div>
            <div class="row py-5">
                <div id="carouselExampleDark" class="carousel carousel-dark slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card-wrapper">
                                        <div class="card">
                                            <div class="imagen-nosotros">
                                                <figure>
                                                    <img src="assets/imagenes/Blanca.jpg" alt="Blanca Oviedo">
                                                    <div class="capa">
                                                        <h2>Blanca Oviedo</h2>
                                                        <h4>Ingenieria de Sistemas</h4>
                                                        <p>En nuestra universidad, cultivamos el poder del conocimiento y la pasión por el servicio, construyendo comunidades fuertes y futuros brillantes con cada esfuerzo y cada corazón que tocamos.</p>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-wrapper">
                                        <div class="card">
                                            <div class="imagen-nosotros">
                                                <figure>
                                                    <img src="assets/imagenes/Camilo.jpg" alt="Blanca Oviedo">
                                                    <div class="capa">
                                                        <h2>Camilo León</h2>
                                                        <h4>Ingenieria Electronica</h4>
                                                        <p>A través del conocimiento y el compromiso social, transformamos vidas y construimos un legado de esperanza y fortaleza en nuestras comunidades</p>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-wrapper">
                                        <div class="card">
                                            <div class="imagen-nosotros">
                                                <figure>
                                                    <img src="assets/imagenes/brayan.jpg" alt="Blanca Oviedo">
                                                    <div class="capa">
                                                        <h2>Brayan Carrillo</h2>
                                                        <h4>Ingenieria de Sistemas</h4>
                                                        <p>El servicio social no solo transforma comunidades, sino que también enriquece nuestras almas, enseñándonos el verdadero significado de la empatía y la solidaridad.</p>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card-wrapper">
                                        <div class="card">
                                            <div class="imagen-nosotros">
                                                <figure>
                                                    <img src="assets/imagenes/pablo.png" alt="Blanca Oviedo">
                                                    <div class="capa">
                                                        <h2>Pablo Rodríguez</h2>
                                                        <h4>Ingenieria de Sistemas</h4>
                                                        <p>Al servir a los demás, descubrimos nuestro verdadero propósito y contribuimos a construir un mundo más justo y compasivo.</p>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-wrapper">
                                        <div class="card">
                                            <div class="imagen-nosotros">
                                                <figure>
                                                    <img src="assets/imagenes/santiago.jpg" alt="Blanca Oviedo">
                                                    <div class="capa">
                                                        <h2>Santiago Molina</h2>
                                                        <h4>Ingenieria de Sistemas</h4>
                                                        <p>Cada acto de servicio social es una semilla de cambio, plantada con amor y cultivada con esperanza, que florece en un futuro mejor para todos.</p>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-wrapper">
                                        <div class="card">
                                            <div class="imagen-nosotros">
                                                <figure>
                                                    <img src="assets/imagenes/carlos.jpg" alt="Blanca Oviedo">
                                                    <div class="capa">
                                                        <h2>Carlos Borja</h2>
                                                        <h4>Ingenieria de Sistemas</h4>
                                                        <p>En cada gesto de servicio social, encontramos la inspiración para construir un mundo donde la bondad y la compasión son las fuerzas motrices del cambio.</p>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </div>


</body>