<div class="title-container">
    <h3>PROYECTOS</h3>
    <div class="underline"></div>
</div>
<div class="contenedor-padre">
  
    <div class="contenedor-interno-imagen">
        <img src="assets/imagenes/comunidad.jpg" alt="Imagen" style="width: 100%; height: 100%;" />
    </div>
    <div class="contenedor-interno">

        <div class="col mt-4" id="text2">


            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item" style="margin-bottom: 10px;">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            Fundación Rockefeller
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">se dedica a promover el bienestar humano en todo el mundo, incluyendo áreas como la salud, la educación y el desarrollo sostenible.</div>
                    </div>
                </div>
                <div class="accordion-item" style="margin-bottom: 10px;">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                            Dundación Ford
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">enfocada en promover la justicia social y el progreso humano, mediante el apoyo a organizaciones que trabajan en áreas como los derechos civiles, la educación y el desarrollo económico.</div>
                    </div>
                </div>
                <div class="accordion-item" style="margin-bottom: 10px;">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Fundación Open Society
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">tiene como objetivo promover la democracia, los derechos humanos y el Estado de derecho en todo el mundo, mediante el apoyo a iniciativas sociales y políticas.</div>
                    </div>
                </div>
                <div class="accordion-item" style="margin-bottom: 10px;">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            Fundación Gates para la Salud Mundial
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> trabaja para mejorar la salud y reducir la pobreza en todo el mundo, con un enfoque particular en enfermedades infecciosas y salud reproductiva.</div>
                    </div>
                </div>
                <div class="accordion-item" style="margin-bottom: 10px;">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            Fundación Wikimedia
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Es la organización detrás de Wikipedia, y se dedica a apoyar proyectos educativos de acceso abierto y colaborativos en línea.</div>
                    </div>
                </div>
                <div class="accordion-item" style="margin-bottom: 10px;">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            Fundación Pew Charitable Trusts
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Se enfoca en abordar problemas urgentes a través de la investigación, la política y el cambio social, incluyendo áreas como el medio ambiente, la salud y la justicia económica.</div>
                    </div>
                </div>
            </div>
    </div>
</div>