<app-sidebar></app-sidebar>
<div class="aplicacion">
  <div class="contenedor">
      <div class="topbar">
<app-topbar></app-topbar>
      </div>
      <div class="informacion">
          
          <div class="tabla-informacion">
            <div class="contenido" [ngClass]="{ 'contenido-extendido': !visible }">
              <div class="container">
                
                <h1>Administración</h1>
                <h2>¿Que deseas hacer hoy?</h2>
                <button class="btn btn-warning">Gestionar roles</button>
                <button class="btn btn-warning">Gestionar permisos</button>
                <button class="btn btn-warning">Ver entidades postuladas</button>
              </div>
            </div>
          </div>

      </div>

  </div>

</div>