<div class="title-container">
    <h3>ACTIVIDADES</h3>
    <div class="underline"></div>
</div>
<div class="container">
    
    <div class="event">
        <div class="date">
            <div class="day">30</div>
            <div class="month">May</div>
        </div>
        <div class="details">
            <h3>Eucaristías diarias en la Javeriana</h3>
        </div>
    </div>
    <div class="event">
        <div class="date">
            <div class="day">12</div>
            <div class="month">Jun</div>
        </div>
        <div class="details">
            <h3>Congreso LASA 2024 - Reacción y resistencia: Imaginar futuros posibles en las Américas</h3>
        </div>
    </div>
    <div class="event">
        <div class="date">
            <div class="day">18</div>
            <div class="month">Jun</div>
        </div>
        <div class="details">
            <h3>Simposio Internacional Los límites de lo humano: Tecnología y ecología integral</h3>
        </div>
    </div>
    <div class="event">
        <div class="date">
            <div class="day">19</div>
            <div class="month">Jun</div>
        </div>
        <div class="details">
            <h3>Premios 2024 #LatamDigital</h3>
        </div>
    </div>
</div>